<!-- Footer -->
<footer class="bg-dark text-light py-5" style="margin-top: 50% !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="bg-white p-3 rounded">
                    <svg class="bi bi-chat-dots text-primary" width="2em" height="2em" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M11.354 1.646A7.996 7.996 0 0 0 8 15a7.996 7.996 0 0 0 6.354-12.354L14 1l-2.646 2.646zM8 13a6.5 6.5 0 0 1-4.95-2.286c-.39-.487-.696-1.038-.896-1.635A5.98 5.98 0 0 1 2 6c0-3.314 2.686-6 6-6s6 2.686 6 6-2.686 6-6 6z"/>
                        <path d="M9.462 9.01c.08.25.154.498.218.743.071.269.13.51.176.708a8.467 8.467 0 0 1-2.527.267 8.467 8.467 0 0 1-2.527-.267c.047-.198.106-.439.176-.708.064-.245.138-.493.218-.743a6.5 6.5 0 0 0 1.495 0z"/>
                        <path d="M8 2a6.48 6.48 0 0 0-4.441 1.734c-.199.159-.389.328-.573.514A5.991 5.991 0 0 1 2 6c0 3.314 2.686 6 6 6s6-2.686 6-6a5.99 5.99 0 0 1-1.986-2.752 7.99 7.99 0 0 0-3.533-1.55A6.48 6.48 0 0 0 8 2zM7 9.561a7.42 7.42 0 0 1 1 0c.049.003.098.004.147.004s.098 0 .147-.004z"/>
                    </svg>
                    <p class="mt-3 text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="mb-4 text-light">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Home</a></li>
                    <li><a href="#" class="text-light">About</a></li>
                    <li><a href="#" class="text-light">Services</a></li>
                    <li><a href="#" class="text-light">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5 class="mb-4 text-light">Follow Us</h5>
                <a href='https://db-ip.com' class="text-light mr-3">IP Geolocation by DB-IP</a>
                <a href="#" class="text-light mr-3"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-light mr-3"><i class="bi bi-twitter"></i></a>
                <a href="#" class="text-light mr-3"><i class="bi bi-linkedin"></i></a>
                <a href="#" class="text-light"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>