<header>
    <div class="header_inner">
        <div class="left-side">
            <!-- Logo -->
            <div id="logo" class="uk-hidden@s">
                <a href="{% url 'core:home' %}">
                    <b><h1 style="text-transform: uppercase;">STAYS : Remember them. Share them. Warm hearts.</h1></b>
                </a>
            </div>
  
            <div class="header_search">
                <input type="text" class="form-control" placeholder="Search for username..">
                <div class="icon-search">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </div>
            </div>
        </div>
  
        <div class="right-side lg:pr-4">
            <!-- Upload -->
            {% if user.is_authenticated %}
            <a href="{% url 'users:publish' user.slug %}"
                class="bg-pink-500 flex font-bold hidden hover:bg-pink-600 hover:text-white inline-block items-center lg:block max-h-10 mr-4 px-4 py-2 rounded shado text-white">
                <ion-icon name="add-circle" class="-mb-1 mr-1 opacity-90 text-xl uilus-circle"></ion-icon>
                Share an experience
            </a>
            {% endif %}
  
            <!-- Notification -->
            {% if user.is_authenticated %}
            <a href="#" class="header-links-item">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="1em" height="1em"
                    role="img">
                    <g fill="none">
                        <path
                            d="M12 22a2.02 2.02 0 0 1-2.01-2h4a2.02 2.02 0 0 1-.15.78a2.042 2.042 0 0 1-1.44 1.18h-.047A1.922 1.922 0 0 1 12 22zm8-3H4v-2l2-1v-5.5a8.065 8.065 0 0 1 .924-4.06A4.654 4.654 0 0 1 10 4.18V2h4v2.18c2.579.614 4 2.858 4 6.32V16l2 1v2z"
                            fill="currentColor" />
                    </g>
                </svg>
            </a>
            {% endif %}
            <!-- ... (Rest of the code) ... -->
  
            <!-- Profile -->
            <a href="#">
                {% if user.is_authenticated %}
                    <img src="{{ user.profile_picture }}" class="header-avatar" alt="">
                {% else %}
                    <img src="{% static 'assets/images/avatars/icons8-login-64.png' %}" class="header-avatar"
                        alt="https://icons8.com/icon/Hm0e3BaO54rH/login">
                {% endif %}
            </a>
            <div uk-drop="mode: click;offset:9"
                class="header_dropdown profile_dropdown border-t">
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'users:account' user.slug %}">Account</a></li>
                        <li><a href="{% url 'users:logout' %}">Log Out</a></li>
                    {% else %}
                        <li><a href="{% url 'users:login' %}">Sign In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>