{% extends "base.html" %}
{% load static %}

<title>Password Reset Status</title>

<main>
    {% block content %}
    <div class="d-flex justify-content-center align-items-center" style="height: 500px;">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h2 class="card-title">First Step Done</h2>
                <p class="card-text">Please Check your email address!</p>
                <a href="{% url 'core:home' %}"><h5>Feed</h5></a>
            </div>
        </div>
    </div>
    {% endblock content %}
</main>
