{% extends "base.html" %}
{% load static %}

<main>
    {% block content %}
    <div class="container d-flex justify-content-center">
        <div class="card w-100">
            <div class="card-body text-center">
                <h1 class="card-title">
                    <a href="{% url 'users:profile' current_user.slug %}" class="text-dark">
                        {% if current_user.username is not None and current_user.username != "" %}
                        <b>Welcome, {{ current_user.username }}</b>
                        {% else %}
                        <b>< {{ current_user.email }} - Please define a username ></b>
                        {% endif %}
                    </a>
                </h1>
                <hr>
                <div class="btn-group mb-3 w-75 mx-auto" role="group" aria-label="Basic example">
                    <a href="{% url 'core:home' %}" class="btn btn-primary">Home</a>
                    {% if number_of_publications %}
                        <a href="{% url 'users:stays' current_user.slug %}" class="btn btn-secondary btn-light ">Your Stays</a>
                    {% endif %}
                    <a href="{% url 'users:publish' current_user.slug %}" class="btn btn-success">Publish</a>
                    <a href="{% url 'users:settings' current_user.slug %}" class="btn btn-info">Settings</a>
                </div>
                <div class="btn-group mb-3 w-75 mx-auto" role="group" aria-label="Basic example">
                    {% if profile_has_followers %}
                    <a href="{% url 'users:followers' current_user.slug %}" class="btn btn-danger">Your followers</a>
                    {% endif %}
                    {% if profile_follows_stayers %}
                    <a href="{% url 'users:following' current_user.slug %}" class="btn btn-warning">Favourite Stayers</a>
                    {% endif %}
                </div>
                {% if profile.profile_picture and profile.profile_picture != "None" %}
                    <!-- Image -->
                    <div class="d-flex justify-content-center">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#profilePictureModal">
                            <img src="{{ profile.profile_picture.url }}" class="rounded-circle img-fluid mb-3" style="max-width: 50%;">
                        </a>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="profilePictureModal" tabindex="-1" aria-labelledby="profilePictureModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="{{ profile.profile_picture.url }}" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <h3 class="card-subtitle mb-2 text-muted">Short story long</h3>
                {% if number_of_following %}
                <h5>{{ profile.username }} follows {{ number_of_following }} Stayer(s).</h5>
                {% endif %}
                {% if number_of_followers %}
                <h5>{{ number_of_followers }} Stayer(s) are following {{ profile.username }} </h5>
                {% endif %}
                <a href="{% url 'users:settings' current_user.slug %}"><h6>Edit Profile</h6></a>

                <div class="container d-flex justify-content-center ">
                    <div class="accordion col-md-8" id="userInformationAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingEmail">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEmail" aria-expanded="false" aria-controls="collapseEmail">
                                    Email
                                </button>
                            </h2>
                            <div id="collapseEmail" class="accordion-collapse collapse" aria-labelledby="headingEmail" data-bs-parent="#userInformationAccordion">
                                <div class="accordion-body">
                                    {{ current_user.email }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingUsername">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsername" aria-expanded="false" aria-controls="collapseUsername">
                                    Username
                                </button>
                            </h2>
                            <div id="collapseUsername" class="accordion-collapse collapse" aria-labelledby="headingUsername" data-bs-parent="#userInformationAccordion">
                                <div class="accordion-body">
                                    {{ current_user.username }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingCreatedAt">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCreatedAt" aria-expanded="false" aria-controls="collapseCreatedAt">
                                    Created At
                                </button>
                            </h2>
                            <div id="collapseCreatedAt" class="accordion-collapse collapse" aria-labelledby="headingCreatedAt" data-bs-parent="#userInformationAccordion">
                                <div class="accordion-body">
                                    {{ current_user.created_at }}
                                </div>
                            </div>
                        </div>
                        {% if current_user.about_text %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingAbout">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAbout" aria-expanded="false" aria-controls="collapseAbout">
                                    About
                                </button>
                            </h2>
                            <div id="collapseAbout" class="accordion-collapse collapse" aria-labelledby="headingAbout" data-bs-parent="#userInformationAccordion">
                                <div class="accordion-body">
                                    {{ current_user.about_text }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if current_user.season_of_birth or current_user.year_of_birth or continent_of_birth %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingBirth">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBirth" aria-expanded="false" aria-controls="collapseBirth">
                                    Birth
                                </button>
                            </h2>
                            <div id="collapseBirth" class="accordion-collapse collapse" aria-labelledby="headingBirth" data-bs-parent="#userInformationAccordion">
                                <div class="accordion-body">
                                    {% if current_user.season_of_birth %}
                                    {{ current_user.season_of_birth }}
                                    {% endif %}
                                    {% if current_user.year_of_birth %}
                                        , {{ current_user.year_of_birth }}
                                    {% endif %}
                                    {% if continent_of_birth %}
                                        , {{ continent_of_birth }}
                                    {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endblock content %}
</main>
    

