{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Profile details and management">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Account</title>
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
</head>

<body>
    <div class="container m-auto">
        <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3">
            <a href="{% url 'users:account' current_user.slug %}">
                {% if current_user.username is not None and current_user.username != "" %}
                <b> {{ current_user.username }}</b>
                {% else %}
                <b> < {{ current_user.email }} - Please define a username > </b>
                {% endif %}
            </a>
        </h1>
        <br>
        <hr>
        <ul class="mt-5 -mr-3 flex-nowrap lg:overflow-hidden overflow-x-scroll uk-tab"> 
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'users:settings' current_user.slug %}">Stays</a></li>
            <li><a href="{% url 'users:settings' current_user.slug %}">Stays</a></li>
            <li><a href="{% url 'users:publish' current_user.slug %}">Publish</a></li>
            <li><a href="{% url 'users:settings' current_user.slug %}">Settings</a></li>
        </ul>
        <br>

        <div class="grid lg:grid-cols-3 mt-12 gap-8">
            <div>
                <h3 class="text-xl mb-2"> Short story long </h3>
                <p>{{ current_user.about_text }}</p>
            </div>
        </div>
    </div>        

    

 <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script> 
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>

</body>

</html>