{% extends "base.html" %}
{% load static %}


<main class="flex-grow-1 bg-white">
    {% block content %}
        <div class="d-flex flex-column min-vh-100 bg-white">
            {% if messages %}
                    <div class="d-flex justify-content-around">
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
            {% endif %}
            <div class="d-flex justify-content-center align-items-center vh-100">
                <form action="{% url 'users:delete_account' profile.slug %}" method="post" class="text-center">
                    {% csrf_token %}
                    <h1>Are you sure?</h1>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">Confirm</button>
                        <a href="/" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    {% endblock content %}
</main>