{% extends "base.html" %}
{% load static %}
{% load cool_paginate %}
{% load el_pagination_tags %}
<title>STAYS FEED </title>
<main>
{% block content %}
<div class="container mx-auto">

    <div class="d-flex justify-content-center gx-4 gy-0">

        <!-- left sidebar-->
        <div class="mb-5 flex-shrink-0 col-lg-7">

            <!-- post 1-->
            {% for publication in page_obj %}
            
            <div class="card">
                <div class="card-body">
                <center>
                    <a href="{% url 'core:publication' publication.uuid %}">
                        <h2 class="card-title">{{ publication.title }}</h2>
                    </a>
                </center>
                  
                <h5 id="h5_username">Written by <a class="user-slug"  href="{% url 'users:profile' publication.author_slug %}"> {{ publication.author_username }}</a><i data-toggle="tooltip" data-slug="{{ publication.author_slug }}" class="fa-solid fa-sun" style="color: #a0a4ac"></i></h5>
                <script>
                    tippy('.fa-sun', {
                        content: "OK",
                    });
                </script>
                <h5>{{ publication.created_at }}</h5>
                <script>
                    var author_slug = "{{ publication.author_slug }}";
                    var statusElement = document.querySelector(`[data-slug="${author_slug}"]`);
                </script>
                <p class="card-text">{{ publication.summary }}</p>
                </div>
                <img src="{{ publication.picture }}" class="card-img-bottom" alt="...">
                <div class="card-body">
                    <h2 class="card-title">{{ publication.season_of_stay }}, <a href="{% url 'locations:country' publication.country_code_of_stay %}">{{ publication.stay_country_name }}</a></h2>
                    {% if publication.published_from_country_code %}
                    <h6>Published from <a href="{% url 'locations:country' publication.published_from_country_code %}">{{ publication.published_from_country_name }}</a></h6>
                    {% endif %}
                    {% if publication.updated_at != publication.created_at %}
                    <p class="card-text"><small class="text-muted">Updated {{ publication.updated_at }}</small></p>
                    {% endif %}
                    {% if user.is_authenticated and publication.content_type == "text" %}
                    <p class="card-text">{{ publication.text_story }}</p>
                    {% endif %}
                    {% if user.is_authenticated and publication.content_type == "voice" %}
                    <center>
                        <div class="col-sm-4 col-sm-offset-4 embed-responsive embed-responsive-4by3">
                            <audio  controls class="embed-responsive-item">
                                <source src="{{ publication.voice_story }}">
                            </audio>
                        </div>
                    </center>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <center><a href="{% url 'users:login' %}" class="btn btn-primary">Login</a></center>
                    {% endif %}
                    {% if user.is_authenticated %}
                    
                    <center>
                        {% if user.slug not in publication.upvoters %}
                        <button id="upvbtn" 
                                type="button" 
                                class="btn btn-light btn-outline-info"
                                hx-post="{% url 'core:upvote' publication.uuid %}" 
                                hx-params='{"publication_id": "{{ publication.uuid }}", "profile_email": "{{ user.email }}", "csrfmiddlewaretoken": "{{ csrf_token }}"}'
                                hx-target="#upvbtn" 
                                hx-swap="none"
                                hx-headers='{"Content-Type":"application/json"}'>
                            Upvote <i id="upvotei" class="fa-regular fa-heart" style="color: #e22222;" data-fa-i2svg></i>
                        </button>
                        {% else %}
                        <button id="upvbtn" 
                                type="button" 
                                class="btn btn-light btn-outline-info"
                                hx-post="{% url 'core:upvote' publication.uuid %}" 
                                hx-params='{"publication_id": "{{ publication.uuid }}", "profile_email": "{{ user.email }}", "csrfmiddlewaretoken": "{{ csrf_token }}"}'
                                hx-target="#upvbtn" 
                                hx-swap="none"
                                hx-headers='{"Content-Type":"application/json"}'>
                            Upvote <i id="upvotei" class="fa-solid fa-heart fa-heart-circle-check fa-beat-fade fa-sm" style="color: #e22222;" data-fa-i2svg></i>
                        </button>
                        {% endif %}
                    </center>
                    {% endif %}
                </div>
            </div>
            <br>
            {% endfor %}
            <div class="d-flex justify-content-center mt-6">
                <div class="d-flex justify-content-center mt-6">
                    {% cool_paginate page_obj=publication %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}

<script>
    $(document).ready(function () {
        $('#upvbtn').click(function () {
            $.ajax({
                url: "{% url 'publications:publication_upvote' publication.uuid %}",
                method: 'POST',
                data: {
                    'publication_id': '{{ publication.uuid }}',
                    'profile_slug': '{{ user.slug }}',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    // Update the button text or do something else with the response
                }
            });
        });
    });
</script>

{% comment %} <script>
    document.getElementById('upvotei').onclick = function() {
        // Attendre 0,1 seconde
        setTimeout(() => {
            // Vérifier si toutes les classes sont présentes
            if (this.classList.contains('fa-solid', 'fa-heart', 'fa-heart-circle-check', 'fa-beat-fade', 'fa-sm')) {
                // Si oui, remplacer les classes
                this.classList.remove('fa-solid', 'fa-heart', 'fa-heart-circle-check', 'fa-beat-fade', 'fa-sm');
                this.classList.add('fa-regular', 'fa-heart');
            }
        }, 100);
    }
</script> {% endcomment %}

<script>src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"</script>
<script>
    document.getElementById('upvotei').onclick = function() {
        // Attendre 0,1 seconde
        setTimeout(() => {
            // Vérifier si toutes les classes sont présentes
            if (this.classList.contains('fa-solid', 'fa-heart', 'fa-heart-circle-check', 'fa-beat-fade', 'fa-sm')) {
                // Si oui, remplacer les classes
                this.classList.remove('fa-solid', 'fa-heart', 'fa-heart-circle-check', 'fa-beat-fade', 'fa-sm');
                this.classList.add('fa-regular', 'fa-heart');
            } else if (!this.classList.contains('fa-heart-circle-check', 'fa-beat-fade')) {
                // Si 'fa-heart-circle-check' et 'fa-beat-fade' ne sont pas présents, modifier les classes
                this.classList.remove('fa-regular');
                this.classList.add('fa-solid', 'fa-heart', 'fa-heart-circle-check', 'fa-beat-fade');
            }
        }, 100);
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>

</main>