{% load static %}
{% load cool_paginate %}
{% load el_pagination_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add Bootstrap CSS link here -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}"> {% endcomment %}
    <link href="{% static 'formset/css/collections.css' %}" rel="stylesheet">
</head>

<body>

<header>
  <div class="header_inner">
      <div class="left-side">
          <!-- Logo -->
          <div id="logo" class="uk-hidden@s">
              <a href="{% url 'core:home' %}">
                  <b><h1 style="text-transform: uppercase;">STAYS : Remember them. Share them. Warm hearts.</h1></b>
              </a>
          </div>

          <div class="header_search">
              <input type="text" class="form-control" placeholder="Search for username..">
              <div class="icon-search">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                  </svg>
              </div>
          </div>
      </div>

      <div class="right-side lg:pr-4">
          <!-- Upload -->
          {% if user.is_authenticated %}
          <a href="{% url 'users:publish' user.slug %}"
              class="bg-pink-500 flex font-bold hidden hover:bg-pink-600 hover:text-white inline-block items-center lg:block max-h-10 mr-4 px-4 py-2 rounded shado text-white">
              <ion-icon name="add-circle" class="-mb-1 mr-1 opacity-90 text-xl uilus-circle"></ion-icon>
              Share an experience
          </a>
          {% endif %}
          <!-- Upload Dropdown Box -->
          {% comment %} <div uk-dropdown="pos: top-right; mode: click; animation: uk-animation-slide-bottom-small"
              class="header_dropdown">
              <!-- Notification Header -->
              <div class="px-4 py-3 -mx-5 -mt-4 mb-5 border-b">
                  <h4>Upload Pics or Videos</h4>
              </div>

              <!-- Notification Contents -->
              <div class="flex justify-center flex-center text-center">
                  <div class="flex flex-col choose-upload text-center">
                      <div class="bg-gray-100 border-2 border-dashed flex flex-col h-24 items-center justify-center relative w-full rounded-lg">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-12"
                              viewBox="0 0 20 20">
                              <path
                                  d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z" />
                              <path d="M9 13h2v5a1 1 0 11-2 0v-5z" />
                          </svg>
                      </div>

                      <p class="my-3 leading-6"> Upload pics or videos <br> please upload here..
                      </p>
                      <div uk-form-custom>
                          <input type="file" class="form-control">
                          <a href="#" class="btn btn-warning"> Choose file</a>
                      </div>

                      <a href="#" class="uk-text-muted mt-3 uk-link"
                          uk-toggle="target: .choose-upload ;  animation: uk-animation-slide-right-small, uk-animation-slide-left-medium; queued: true">
                          Or Import Video </a>
                  </div>

                  <div class="uk-flex uk-flex-column choose-upload" hidden>
                      <!-- ... (Rest of the code) ... -->
                  </div>
              </div>
              <div class="px-4 py-3 -mx-5 -mb-4 mt-5 border-t text-sm">
                  Your Video size Must be Maxmium 999MB
              </div>
          </div> {% endcomment %}

          <!-- Notification -->
          <a href="#" class="header-links-item">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="1em" height="1em"
                  role="img">
                  <g fill="none">
                      <path
                          d="M12 22a2.02 2.02 0 0 1-2.01-2h4a2.02 2.02 0 0 1-.15.78a2.042 2.042 0 0 1-1.44 1.18h-.047A1.922 1.922 0 0 1 12 22zm8-3H4v-2l2-1v-5.5a8.065 8.065 0 0 1 .924-4.06A4.654 4.654 0 0 1 10 4.18V2h4v2.18c2.579.614 4 2.858 4 6.32V16l2 1v2z"
                          fill="currentColor" />
                  </g>
              </svg>
          </a>
          <!-- ... (Rest of the code) ... -->

          <!-- Profile -->
          <a href="#">
              {% if user.is_authenticated %}
                  <img src="{{ user.profile_picture }}" class="header-avatar" alt="">
              {% else %}
                  <img src="{% static 'assets/images/avatars/icons8-login-64.png' %}" class="header-avatar"
                      alt="https://icons8.com/icon/Hm0e3BaO54rH/login">
              {% endif %}
          </a>
          <div uk-drop="mode: click;offset:9"
              class="header_dropdown profile_dropdown border-t">
              <ul>
                  {% if user.is_authenticated %}
                      <li><a href="{% url 'users:account' user.slug %}">Account</a></li>
                      <li><a href="{% url 'users:logout' %}">Log Out</a></li>
                  {% else %}
                      <li><a href="{% url 'users:login' %}">Sign In</a></li>
                  {% endif %}
              </ul>
          </div>
      </div>
  </div>
</header>

<div class="container mx-auto">

    <h1 class="lg:text-3xl text-lg font-extrabold leading-none text-gray-900 tracking-tight mb-5"> Feed </h1>

    <div class="d-flex justify-content-center gx-4 gy-0">

        <!-- left sidebar-->
        <div class="mb-5 flex-shrink-0 col-lg-7">

            <!-- post 1-->
            {% comment %} {% paginate page_obj %} {% endcomment %}
            {% for publication in page_obj %}
            
            <div class="card">
                <div class="card-body">
                  <h3 class="card-title">{{ publication.title }}</h3>
                  <h5>Written by {{ publication.author_username }}, {{ publication.created_at }}</h5>
                  <p class="card-text">{{ publication.summary }}</p>
                  {% if publication.updated_at != publication.created_at %}
                  <p class="card-text"><small class="text-muted">{{ publication.updated_at }}</small></p>
                  {% endif %}
                </div>
                <img src="{{ publication.picture }}" class="card-img-bottom" alt="...">
                <div class="card-body">
                    <h2 class="card-title">Card title</h2>
                    {% if publication.updated_at != publication.created_at %}
                    <p class="card-text"><small class="text-muted">Updated {{ publication.updated_at }}</small></p>
                    {% endif %}
                    {% if user.is_authenticated and publication.content_type == "text" %}
                    <p class="card-text">{{ publication.text_story }}</p>
                    {% endif %}
                    {% if user.is_authenticated and publication.content_type == "voice" %}
                    <center>
                        <div class="col-sm-4 col-sm-offset-4 embed-responsive embed-responsive-4by3">
                            <audio controls class="embed-responsive-item">
                                <source src="sample.mp3">
                            </audio>
                        </div>
                    </center>
                    {% endif %}
                    {% if publication.content_type == "text" and not user.is_authenticated %}
                    <p class="card-text"><small class="text-muted">{{ publication.text_story|slice:":25" }}...</small></p>
                    <a href="{% url 'users:login' %}" class="btn btn-primary">Login</a>
                    {% endif %}
                </div>
            </div>
            <br>
            {% endfor %}
            {% comment %} {% show_pages %} {% endcomment %}
            
            

            <!-- Load more -->
            <div class="d-flex justify-content-center mt-6">
              <a href="#" class="bg-white font-weight-bold my-3 px-6 py-2 rounded-full shadow-md" data-bs-toggle="collapse" data-bs-target="#toggle" aria-expanded="false" aria-controls="toggle">
                  Load more ..
              </a>
            </div>
            <div class="d-flex justify-content-center mt-6">
                <div class="d-flex justify-content-center mt-6">
                    {% cool_paginate page_obj=publication %}
                </div>
            </div>

        </div>
        
        <!-- right sidebar -->
        <div class="col-lg-5">

          <div class="bg-white shadow-md rounded-md overflow-hidden">

              <div class="bg-gray-50 border-b border-gray-100 flex items-baseline justify-between py-4 px-6">
                  <h2 class="font-semibold text-lg">Users You Can Follow</h2>
                  <a href="#">Refresh</a>
              </div>

              <div class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4">
                  <div class="flex items-center justify-between py-3">
                      <div class="flex flex-1 items-center space-x-4">
                          <a href="profile.html">
                              <img src="{% static 'assets/images/avatars/avatar-2.jpg' %}" class="bg-gray-200 rounded-full w-10 h-10">
                          </a>
                          <div class="flex flex-col">
                              <span class="block capitalize font-semibold">tomi_ml</span>
                              <span class="block capitalize text-sm">320k followers</span>
                          </div>
                      </div>

                      <a href="#" class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600">Follow</a>
                  </div>

                  <div class="flex items-center justify-between py-3">
                      <!-- Ajoutez d'autres éléments similaires ici -->
                  </div>

                  <div class="flex items-center justify-between py-3">
                      <!-- Ajoutez d'autres éléments similaires ici -->
                  </div>

                  <div class="flex items-center justify-between py-3">
                      <!-- Ajoutez d'autres éléments similaires ici -->
                  </div>

              </div>

          </div>

        </div>
    </div>               
</div>


<!-- Footer -->
<footer class="bg-dark text-light py-5">
  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <div class="bg-white p-3 rounded">
                  <svg class="bi bi-chat-dots text-primary" width="2em" height="2em" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M11.354 1.646A7.996 7.996 0 0 0 8 15a7.996 7.996 0 0 0 6.354-12.354L14 1l-2.646 2.646zM8 13a6.5 6.5 0 0 1-4.95-2.286c-.39-.487-.696-1.038-.896-1.635A5.98 5.98 0 0 1 2 6c0-3.314 2.686-6 6-6s6 2.686 6 6-2.686 6-6 6z"/>
                      <path d="M9.462 9.01c.08.25.154.498.218.743.071.269.13.51.176.708a8.467 8.467 0 0 1-2.527.267 8.467 8.467 0 0 1-2.527-.267c.047-.198.106-.439.176-.708.064-.245.138-.493.218-.743a6.5 6.5 0 0 0 1.495 0z"/>
                      <path d="M8 2a6.48 6.48 0 0 0-4.441 1.734c-.199.159-.389.328-.573.514A5.991 5.991 0 0 1 2 6c0 3.314 2.686 6 6 6s6-2.686 6-6a5.99 5.99 0 0 1-1.986-2.752 7.99 7.99 0 0 0-3.533-1.55A6.48 6.48 0 0 0 8 2zM7 9.561a7.42 7.42 0 0 1 1 0c.049.003.098.004.147.004s.098 0 .147-.004z"/>
                  </svg>
                  <p class="mt-3 text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
          </div>
          <div class="col-lg-6">
              <h5 class="mb-4 text-light">Quick Links</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-light">Home</a></li>
                  <li><a href="#" class="text-light">About</a></li>
                  <li><a href="#" class="text-light">Services</a></li>
                  <li><a href="#" class="text-light">Contact</a></li>
              </ul>
          </div>
          <div class="col-lg-3">
              <h5 class="mb-4 text-light">Follow Us</h5>
              <a href='https://db-ip.com' class="text-light mr-3">IP Geolocation by DB-IP</a>
              <a href="#" class="text-light mr-3"><i class="bi bi-facebook"></i></a>
              <a href="#" class="text-light mr-3"><i class="bi bi-twitter"></i></a>
              <a href="#" class="text-light mr-3"><i class="bi bi-linkedin"></i></a>
              <a href="#" class="text-light"><i class="bi bi-instagram"></i></a>
          </div>
      </div>
  </div>
</footer>





<!-- Scripts ================================================== -->
<!-- Add Bootstrap JS and Popper.js script links here -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/js/uikit.js' %}"></script>
<script src="{% static 'assets/js/simplebar.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
<script type="module" src="{% static 'formset/js/django-formset.js' %}"></script>
<script src="{% static 'assets/js/htmx.min.js' %}" defer></script>
<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

</body>
</html>