{% extends "base.html" %}
{% load static %}
{% load cool_paginate %}
{% load el_pagination_tags %}
<title>STAYS FEED </title>
<main>
{% block content %}
<div class="container mx-auto">

    <h1 class="lg:text-3xl text-lg font-extrabold leading-none text-gray-900 tracking-tight mb-5"> Feed </h1>

    <div class="d-flex justify-content-center gx-4 gy-0">

        <!-- left sidebar-->
        <div class="mb-5 flex-shrink-0 col-lg-7">

            <!-- post 1-->
            {% comment %} {% paginate page_obj %} {% endcomment %}
            {% for publication in page_obj %}
            
            <div class="card">
                <div class="card-body">
                  <a href="{% url 'core:publication' publication.uuid %}">
                    <h3 class="card-title">{{ publication.title }}</h3>
                  </a>
                  
                  <h5 id="h5_username">Written by <a class="user-slug"  href="{% url 'users:account' publication.author_slug %}"> {{ publication.author_username    }}</a>   <i data-slug="{{ publication.author_slug }}" class="fa-solid fa-sun" style="color: #a0a4ac"></i></h5>
                   
                  <h5>{{ publication.created_at }}</h5>                  
                  <script>
                    var author_slug = "{{ publication.author_slug }}"; 
                    var statusElement = document.querySelector(`[data-slug="${author_slug}"]`);
                  </script>
                  <p class="card-text">{{ publication.summary }}</p>
                  {% if not publication.updated_at == publication.created_at %}
                  <p class="card-text"><small class="text-muted">{{ publication.updated_at }}</small></p>
                  {% endif %}
                </div>
                <img src="{{ publication.picture }}" class="card-img-bottom" alt="...">
                <div class="card-body">
                    <h2 class="card-title">{{ publication.season_of_stay }}, {{ publication.stay_country_name }}</h2>
                    {% if publication.published_from_country_code %}
                    <h6>Published from {{ publication.published_from_country_name }} </h6>
                    {% endif %}
                    {% if publication.updated_at != publication.created_at %}
                    <p class="card-text"><small class="text-muted">Updated {{ publication.updated_at }}</small></p>
                    {% endif %}
                    {% if user.is_authenticated and publication.content_type == "text" %}
                    <p class="card-text">{{ publication.text_story }}</p>
                    {% endif %}
                    {% if user.is_authenticated and publication.content_type == "voice" %}
                    <center>
                        <div class="col-sm-4 col-sm-offset-4 embed-responsive embed-responsive-4by3">
                            <audio  controls class="embed-responsive-item">
                                <source src="{{ publication.voice_story }}">
                            </audio>
                        </div>
                    </center>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <center><a href="{% url 'users:login' %}" class="btn btn-primary">Login</a></center>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <center>
                        {% if user.slug not in publication.upvoters  %}
                        <button id="upvbtn" 
                                type="button" 
                                class="btn btn-light btn-outline-info"
                                hx-post="{% url 'core:upvote' publication.uuid %}" 
                                hx-params='{"publication_id": "{{ publication.uuid }}", "profile_email": "{{ user.email }}", "csrfmiddlewaretoken": "{{ csrf_token }}"}'
                                hx-target="#upvbtn" 
                                hx-swap="none"
                                hx-headers='{"Content-Type":"application/json"}'>
                            Upvote <i id="upvotei" class="fa-regular fa-heart upvote" style="color: #e22222;" data-fa-i2svg></i>
                        </button>
                        {% else %}
                        <button id="upvbtn" 
                                type="button" 
                                class="btn btn-light btn-outline-info"
                                hx-post="{% url 'core:upvote' publication.uuid %}" 
                                hx-params='{"publication_id": "{{ publication.uuid }}", "profile_email": "{{ user.email }}", "csrfmiddlewaretoken": "{{ csrf_token }}"}'
                                hx-target="#upvbtn" 
                                hx-swap="none"
                                hx-headers='{"Content-Type":"application/json"}'>
                            Upvote <i id="upvotei" class="fa-solid fa-heart fa-heart-circle-check fa-beat-fade fa-sm" style="color: #e22222;" data-fa-i2svg></i>
                        </button>
                        {% endif %}
                    </center>
                    {% endif %}
                </div>
            </div>
            <br>
            {% endfor %}
            {% comment %} {% show_pages %} {% endcomment %}
            
            

            {% comment %} <!-- Load more -->
            <div class="d-flex justify-content-center mt-6">
              <a href="#" class="bg-white font-weight-bold my-3 px-6 py-2 rounded-full shadow-md" data-bs-toggle="collapse" data-bs-target="#toggle" aria-expanded="false" aria-controls="toggle">
                  Load more ..
              </a>
            </div> {% endcomment %}
            <div class="d-flex justify-content-center mt-6">
                <div class="d-flex justify-content-center mt-6">
                    {% cool_paginate page_obj=publication %}
                </div>
            </div>

        </div>
        
        <!-- right sidebar -->
        <div class="col-lg-5">

          <div class="bg-white shadow-md rounded-md overflow-hidden">

              <div class="bg-gray-50 border-b border-gray-100 flex items-baseline justify-between py-4 px-6">
                  <h2 class="font-semibold text-lg">Users You Can Follow</h2>
                  <a href="#">Refresh</a>
              </div>

              <div class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4">
                  <div class="flex items-center justify-between py-3">
                      <div class="flex flex-1 items-center space-x-4">
                          <a href="profile.html">
                              <img src="{% static 'assets/images/avatars/avatar-2.jpg' %}" class="bg-gray-200 rounded-full w-10 h-10">
                          </a>
                          <div class="flex flex-col">
                              <span class="block capitalize font-semibold">tomi_ml</span>
                              <span class="block capitalize text-sm">320k followers</span>
                          </div>
                      </div>

                      <a href="#" class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600">Follow</a>
                  </div>

                  <div class="flex items-center justify-between py-3">
                      <!-- Ajoutez d'autres éléments similaires ici -->
                  </div>

                  <div class="flex items-center justify-between py-3">
                      <!-- Ajoutez d'autres éléments similaires ici -->
                  </div>

                  <div class="flex items-center justify-between py-3">
                      <!-- Ajoutez d'autres éléments similaires ici -->
                  </div>

              </div>

          </div>

        </div>
    </div>               
</div>
{% endblock content %}

<script>
    $(document).ready(function () {
        $('#upvbtn').click(function () {
            $.ajax({
                url: "{% url 'publications:publication_upvote' publication.uuid %}",
                method: 'POST',
                data: {
                    'publication_id': '{{ publication.uuid }}',
                    'profile_slug': '{{ user.slug }}',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    // Update the button text or do something else with the response
                }
            });
        });
    });
</script>
</main>