{% extends "base.html" %}
{% load static %}
{% load sweetify %}

<main>
    {% block content %}
    {% sweetify %}
    <script>
        var alertClosed = false;
        $(document).on('click', function(e) {
            if (!$(e.target).closest('.swal-modal').length && !alertClosed) {
                e.stopPropagation();
                sweetify.error('Oops', 'Code: ' + {{ error_code }} + ', Message: ' + '{{ error_message }}' + ', Description: ' + '{{ error_description }}' + '. <a href="' + '{{ home_url }}' + '">FEED</a>', persistent='FEED', icon='error');
            }
        });
        $('.swal-button--confirm').click(function() {
            alertClosed = true;
        });
    </script>
    {% endblock content %}
</main>