{% extends "base.html" %}
{% load static %}
<title>Stayer - {{ profile.username }}</title>

{% block content %}
<div class="container mt-5 d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-title">{{ profile.username }}</h2>
                {% if profile.first_name != "None" %}
                    <p class="card-text">First Name: {{ profile.first_name }}</p>
                {% endif %}
                {% if profile.last_name != "None" %}
                    <p class="card-text">Last Name: {{ profile.last_name }}</p>
                {% endif %}
                {% if profile.year_of_birth != "None" %}
                    <p class="card-text">Year of Birth: {{ profile.year_of_birth }}</p>
                {% endif %}
                {% if profile.season_of_birth != "None" %}
                    <p class="card-text">Season of Birth: {{ profile.season_of_birth }}</p>
                {% endif %}
                {% if profile.motto != "None" %}
                    <p class="card-text">Motto: {{ profile.motto }}</p>
                {% endif %}
                {% if profile.signature != "None" %}
                    <p class="card-text">Signature: {{ profile.signature }}</p>
                {% endif %}
                {% if profile.about_text != "None" %}
                    <p class="card-text">About: {{ profile.about_text }}</p>
                {% endif %}
                {% if profile.continent_of_birth %}
                    <p class="card-text">Continent of Birth: {{ profile.continent_of_birth }}</p>
                {% endif %}
                {% if profile.profile_picture != "None" %}
                    <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle mb-3">
                {% endif %}
                {% if profile.created_at %}
                    <p class="card-text">Stayer since: {{ profile.created_at }}</p>
                {% endif %}
				{% if user.is_authenticated and profile.slug != user.slug %}
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                    {% if page_viewer_follows_profile == False %}
                    <button id="followButton" type="button" class="btn btn-info text-white fw-bold border border-dark">FOLLOW ME</button>
                    {% else %}
                    <button id="followButton" type="button" class="btn btn-info text-white fw-bold border border-dark">FOLLOWING</button>
                    {% endif %}
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');
    
    var pageViewerFollowsProfile = '{{ page_viewer_follows_profile }}' == 'True';

    $('#followButton').click(function() {
        var profileSlug = '{{ profile.slug }}'; // Replace with actual profile slug
        var userSlug = '{{ user.slug }}'; // Replace with actual user slug
        var relation = pageViewerFollowsProfile ? 'unfollow' : 'follow';
        console.log("relation: " + relation);
        $.ajax({
            url: '/profile/' + profileSlug + '/followtoggle',
            type: 'POST',
            data: JSON.stringify({ asking: userSlug, target: profileSlug, relation: relation }),
            contentType: 'application/json',
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function(data, textStatus, jqXHR){
                if(jqXHR.status == 201){
                    // Si le status code est 201, change le texte du bouton en "Following"
                    $('#followButton').text('Following');
                    pageViewerFollowsProfile = true;
                } else if(jqXHR.status == 204){
                    // Si le status code est 204, change le texte du bouton en "FOLLOW ME"
                    $('#followButton').text('FOLLOW ME');
                    pageViewerFollowsProfile = false;
                }
                // Mettre à jour relation avec la nouvelle valeur
                relation = pageViewerFollowsProfile ? 'unfollow' : 'follow';
                console.log("relation: " + relation);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Handle error
                console.log(textStatus, errorThrown);
            }
        });
    });
</script>
				{% endif %}
                <div class="d-flex justify-content-around mt-3">
					{% if profile.published_stays %}
                    <a href="{% url 'users:stays' profile.slug %}"><button type="button" class="btn btn-warning text-dark fw-bold border border-dark">MY STAYS</button></a>
                    {% endif %}
					{% if profile.following and profile.following.count > 0 %}
					<a href="{% url 'users:following' profile.slug %}"><button type="button" class="btn btn-success text-white fw-bold border border-white border-3">I FOLLOW STAYERS</button></a>
					{% endif %}
				</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}