{% load static %}
{% load split_on_slash %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Publish</title>
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

</head>

<body>
    <div class="container m-auto">
        <b><a href="/"><h3 class="text-2xl leading-none text-gray-900 tracking-tight mt-3">{{current_user.username}}</h3></a></b>
        <br>
        {% if messages %}
                <div class="flex items-center lg:justify-between justify-around">
                    {% for message in messages %}
                        <center>
                            <div class="alert bg-green-100 text-white-50 !important">
                            {{ message }}
                            </div>
                    </center>
                    {% endfor %}
                </div>
        {% endif %}
        <hr>
        <br>

        <div class="grid lg:grid-cols-3 mt-12 gap-8">
            <div class="bg-white rounded-md lg:shadow-lg shadow col-span-2">
                <form action="{% url 'users:myaccount' user.slug %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                        <center><b>Let's publish a new content.</b></center>
                        <div class="col-span-2">
                            {% comment %} <label for="">Your picture : {{ user.profile_picture|split_on_slash }}</label> {% endcomment %}
                            {% comment %} <img src="{% get_media_prefix %}{{ user.profile_picture }}" height="100px" width="100px" /> {% endcomment %}
                            <input type="file" name="profile_picture" value="{{ user.profile_picture }}" accept=".jpg,.JPEG,.png,.svg" capture="user" class="shadow-none bg-gray-100">
                        </div>
                        <div>
                            <label for="title">Title</label>
                            <input type="text" name="title" placeholder="" value="" class="shadow-none bg-gray-100">
                        </div>
                    </div>

                    <div class="bg-gray-10 p-6 pt-0 flex justify-around justify-end space-x-3">
                        {% comment %} <button class="p-2 px-4 rounded bg-gray-50 text-red-500"><a href="{% url 'users:settings' user.pk %}"> Cancel </a></button> {% endcomment %}
                        <button type="submit" class="button bg-blue-700">Save </button>
                    </div>
                </form>
            </div>
            <br>

        </div>

    </div>
            
    

 <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script> 
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>

</html>