{% extends "base.html" %}
{% load static %}
{% load cool_paginate %}
{% load el_pagination_tags %}
<title>{{ publication.title }}</title>
<main>
{% block content %}
<div class="container">
    <center><h1> {{ publication.title }}</h1></center>
    <br>
    <center><h1>It was {{ publication.season_of_stay }}, in {{ publication.year_of_stay }} </h1></center>
    <center><h2> It was in {{ publication.stay_country_name }}, {{ publication.stay_continent_code }}. </h2></center>
    <br>
    <br>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <img src='{{ publication.picture.url }}' class="img-fluid" alt="...">
      </div>
    </div>
    <div class="row justify-content-md-center">
    <br>
    <hr>
    <center>
    <h3> {{ publication.created_at }} </h3>
    <h3>Published by <a href="{% url 'users:account' publication.author_slug %}">{{ publication.author_username }}</a></h3>
    <h4> {% if publication.published_from_country_name  %} Published from {{ publication.published_from_country_name }} {% endif %} </h4>
    {% if publication.updated_at != publication.created_at %}
    <h4> Updated : {{ publication.updated_at }}</h4>
    {% endif %}
    <br>
    <hr>
    </center>
    </div>
    {% if publication.content_type == "voice" and publication.voice_story %}
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="col-sm-4 col-sm-offset-4 embed-responsive embed-responsive-4by3">
                <audio controls class="embed-responsive-item">
                    <source src="{{ publication.voice_story.url }}">
                </audio>
            </div>
        </div>
    </div>
    <br>
    <hr>
    {% endif %}
    <br>
    <p>
    {% if publication.content_type == "text" and publication.text_story %}
        {{ publication.text_story }}
    {% endif %}
    </p>
    <br>
    <br>
</div>
{% endblock content %}
</main>