{% extends "base.html" %}
{% load static %}
{% load cool_paginate %}
{% load el_pagination_tags %}
<title>{{ publication.title }}</title>
<main>
{% block content %}
<div class="container">
    <center><h1>{{ publication.year_of_stay }}, {{ publication.season_of_stay }}, {{ publication.country_code_of_stay }}</h1></center>
    <br>
    <br>
    <div class="row justify-content-md-center">
        
      <div class="col-md-auto">
        <img src='{{ publication.picture.url }}' class="img-fluid" alt="...">
      </div>
    </div>
    <br>
    <hr>
    <h1>{{ publication.title }}, {{ publication.created_at }}</h1>
    <h2>Published from {{ publication.published_from_country_code }}</h2>
    <h3>{{ publication.author }}</h3>
    {% if publication.updated_at != publication.created_at %}
    <h4>Updated : {{ publication.updated_at }}</h4>
    {% endif %}
    <br>
    <hr>
    <div class="row">
        <div class="col-md-auto">
            {% if publication.content_type == "voice" %}
            <center>
                <div class="col-sm-4 col-sm-offset-4 embed-responsive embed-responsive-4by3">
                    <audio controls class="embed-responsive-item">
                        <source src="{{ publication.voice_story.url }}">
                    </audio>
                </div>
            </center>
            {% else %}
            {{ publication.text_story }}
            {% endif %}
        </div>
    </div>
    <br>
    <hr>
    <br>
</div>
{% endblock content %}
</main>