{% extends "base.html" %}
{% load static %}
{% load split_on_slash %}

{% block title %}
Settings
{% endblock title %}

<main>
    {% block content %}
    <div class="container mt-5 d-flex justify-content-center align-items-center" style="height: 15vh; padding-bottom: 5px; margin-bottom: 3px; margin-top: 0.5rem!important;">
        <div class="col-md-6">
            <div class="card mx-auto" style="max-width: 800px;">
                <div class="card-body text-center">
                    <h1>
                        <a href="{% url 'users:account' current_user.slug %}" class="text-dark">
                            {% if current_user.username is not None and current_user.username != "" %}
                            <b> Settings of {{ current_user.username }} </b>
                            {% else %}
                            <b> < {{ current_user.email }} - Please define a username > </b>
                            {% endif %}
                        </a>
                    </h1>
                    <br>
                    {% if messages %}
                    <div class="d-flex justify-content-around">
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>

    <div class="container mt-5"  style="padding: 4px 15px !important">
        <div class="bg-white rounded-md shadow col-span-2">
            <div class="card-body text-center">
                <button class="btn btn-warning fs-3 fw-bold text-dark" disabled style="pointer-events: none; opacity: 1;">Edit your profile</button>
            </div>
            <form action="{% url 'users:settings' current_user.slug %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="grid grid-cols-2 gap-3 p-4">
                    <div class="col-span-2 d-flex align-items-center">
                        <label for="pofile_picture" class="me-3">Your picture : {{ current_user.profile_picture|split_on_slash }}</label>
                        <img src="{% get_media_prefix %}{{ current_user.profile_picture }}" height="100px" width="100px" />
                        <input type="file" name="profile_picture" value="{{ current_user.profile_picture }}" accept=".jpg,.JPEG,.png,.svg" capture="user" class="form-control">

                    </div>
                    <div class="col-span-2">
                        <label for="slug">Profile ID</label>
                        <input type="text" name="slug" value="{{ current_user.slug }}" class="form-control" readonly>
                    </div>
                    <div>
                        <label for="">First name</label>
                        <input type="text" name="first_name" placeholder="Your first name.." value="{{ current_user.first_name }}" class="form-control">
                    </div>
                    <div>
                        <label for="">Last name</label>
                        <input type="text" name="last_name" placeholder="Your last name.." value="{{ current_user.last_name }}" class="form-control">
                    </div>
                    {% if not current_user.username %}
                    <div class="col-span-2">
                        <label for="">Username</label>
                        <input type="text" name="username" placeholder="Your username name.." value="{{ current_user.slug }}" class="form-control" readonly>
                    </div>
                    {% else %}
                    <div class="col-span-2">
                        <label for="">Username</label>
                        <input type="text" name="username" placeholder="Your username name.." value="{{ current_user.username }}" class="form-control" readonly>
                    </div>
                    {% endif %}
                    <div class="col-span-2">
                        <label for="">Year of birth</label>
                        <input type="number" name="year_of_birth" value="1980" min="1900" max="2010"  class="form-control">
                    </div>
                    <div class="col-span-2">
                        <label for="birth_season">Season of birth</label>
                        <select id="seasons" name="season_of_birth"  class="form-control">
                            <option value="{{ current_user.season_of_birth }}"> Select a season (currently {{ current_user.season_of_birth }} )</option>
                            <option value="Spring">Spring</option>
                            <option value="Summer">Summer</option>
                            <option value="Autumn">Autumn</option>
                            <option value="Winter">Winter</option>
                        </select>
                    </div>
                    <div class="col-span-2">
                        <label for="continent_of_birth">Continent of birth</label>
                        <select id="continent_of_birth" name="continent_of_birth" class="form-control">
                            <option value="{{ current_user.continent_of_birth }}">Select a continent (currently {{ current_user.get_continent_of_birth_display }})</option>
                            {% for value, display in form.fields.continent_of_birth.choices %}
                                <option value="{{ value }}" {% if current_user.continent_of_birth == value %}selected{% endif %}>{{ display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-span-2">
                        <label for="">Email</label>
                        <input type="email" name="account_email" placeholder="{{ current_user.email }}" value="{{ current_user.email }}" class="form-control" readonly>
                    </div>
                    <div class="col-span-2">
                        <label for="">Bio</label> 
                        <textarea id="about_text" name="about_text" placeholder="{{ current_user.about_text }}" rows="3"  class="form-control">{{ current_user.about_text }}</textarea>
                    </div>
                    <div class="col-span-2">
                        <label for="">Motto</label> 
                        <input id="motto" name="motto" placeholder="I love youuuu!" value="{{ current_user.motto }}" rows="3"  class="form-control">
                    </div>
                    <div class="col-span-2">
                        <label for="">Signature</label> 
                        <input id="signature" name="signature" placeholder="Profile signature" value="{{ current_user.signature }}" rows="3"  class="form-control">
                    </div>
                </div>

                <div class="bg-light p-3 d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary">Save </button>
                </div>
            </form>
        </div>
        <br>

    </div>
    <div class="container mt-5" style="padding: 4px 15px !important">
        <div class="card mx-auto" style="max-width: 800px;">
            <div class="card-body text-center">
                <h3 class="mb-2">Advanced Settings</h3>
                <a href="{% url 'users:delete_account' current_user.slug %}" class="btn btn-danger">Delete Account</a>
            </div>
        </div>
    </div>



 <!-- Scripts 
    ================================================== -->
    <!-- tippy Development -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <!-- tippy Production -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.5/simplebar.min.js"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>

    {% comment %} <script type="module">
        import * as LR from "https://cdn.jsdelivr.net/npm/@uploadcare/blocks@0.30.5/web/lr-file-uploader-regular.min.js";
        LR.registerBlocks(LR);
    </script> {% endcomment %}
    {% endblock content %}
</main>

