{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Settings</title>
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

</head>

<body>
    <div class="container m-auto">
        <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3">
            <a href="/">Account Setting for 
                {% if current_user.username is not None and current_user.username != "" %}
                <b> {{ current_user.username }} </b>
                {% else %}
                <b> < {{ current_user.email }} - Please define a username > </b>
                {% endif %}
            </a>
        </h1>
        <br>
        {% if messages %}
                <div class="flex items-center lg:justify-between justify-around">
                    {% for message in messages %}
                        <center>
                            <div class="alert bg-green-100 text-white-50 !important">
                            {{ message }}
                            </div>
                    </center>
                    {% endfor %}
                </div>
        {% endif %}
        <hr>
        {% comment %} <ul class="mt-5 -mr-3 flex-nowrap lg:overflow-hidden overflow-x-scroll uk-tab">
            <li class="uk-active"><a href="#">General</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Notification</a></li>
            <li><a href="#">Social links</a></li>
            <li><a href="#">Billing</a></li>
            <li><a href="#">Security</a></li>
        </ul>{% endcomment %}
        <br>

        <div class="grid lg:grid-cols-3 mt-12 gap-8">
            <div>
                <h3 class="text-xl mb-2">General Settings </h3>
                <p></p>
            </div>
            <div class="bg-white rounded-md lg:shadow-lg shadow col-span-2">
                <form action="{% url 'users:settings' current_user.pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                        <div class="col-span-2">
                            <label for="">Your picture</label>
                            <input type="file" name="profile_picture" class="shadow-none bg-gray-100">
                        </div>
                        <div>
                            <label for="">First name</label>
                            <input type="text" name="first_name" placeholder="Your first name.." class="shadow-none bg-gray-100">
                        </div>
                        <div>
                            <label for="">Last name</label>
                            <input type="text" name="last_name" placeholder="Your last name.." class="shadow-none bg-gray-100">
                        </div>
                        <div class="col-span-2">
                            <label for="">Username</label>
                            <input type="text" name="username" placeholder="Your username name.." class="shadow-none bg-gray-100">
                        </div>
                        <div class="col-span-2">
                            <label for="">Year of birth</label>
                            <input type="number" name="birth_year" value="1980" min="1900" max="2010"  class="shadow-none bg-gray-100">
                        </div>
                        <div class="col-span-2">
                            <label for="birth_season">Season of birth</label>
                            <select id="seasons" name="seasons"  class="shadow-none bg-gray-100">
                                <option value="0"></option>
                                <option value="1">Spring</option>
                                <option value="2">Summer</option>
                                <option value="3">Autumn</option>
                                <option value="4">Winter</option>
                            </select>
                        </div>

                        <div class="col-span-2">
                            <label for="">Email</label>
                            <input type="email" name="account_email" placeholder="{{ current_user.email }}" value="{{ current_user.email }}" class="shadow-none bg-gray-100">
                        </div>
                        <div class="col-span-2">
                            <label for="">Bio</label> 
                            <textarea id="about_text" placeholder="Once upon a time..." name="about_text" rows="3"  class="shadow-none bg-gray-100"></textarea>
                        </div>
                        <div class="col-span-2">
                            <label for="">Motto</label> 
                            <input id="motto" name="motto" placeholder="I love youuuu!" value="{{ current_user.motto }}" rows="3"  class="shadow-none bg-gray-100">
                        </div>
                        <div class="col-span-2">
                            <label for="signature">Signature</label> 
                            <input id="signature" name="signature" rows="3"  class="shadow-none bg-gray-100">
                        </div>
                        {% comment %} <div class="col-span-2">
                            <label for="">Current Location</label>
                            <input type="text" placeholder="" class="shadow-none bg-gray-100">
                        </div>{% endcomment %}
                        {% comment %} <div>
                            <label for="">Working at</label>
                            <input type="text" placeholder="" class="shadow-none bg-gray-100">
                        </div>
                        <div>
                            <label for="">Relationship </label>
                            <select id="relationship" name="relationship"  class="shadow-none bg-gray-100">
                            <option value="0">None</option>
                            <option value="1">Single</option>
                            <option value="2">In a relationship</option>
                            <option value="3">Married</option>
                            <option value="4">Engaged</option>
                            </select>
                        </div>{% endcomment %}
                    </div>

                    <div class="bg-gray-10 p-6 pt-0 flex justify-around justify-end space-x-3">
                        {% comment %} <button class="p-2 px-4 rounded bg-gray-50 text-red-500"><a href="{% url 'users:settings' user.pk %}"> Cancel </a></button> {% endcomment %}
                        <button type="submit" class="button bg-blue-700">Save </button>
                    </div>
                </form>
            </div>

            {% comment %} <div>
                <h3 class="text-xl mb-2">Privacy</h3>
                <p></p>
            </div>
            <div class="bg-white rounded-md lg:shadow-lg shadow lg:p-6 p-4 col-span-2">

                <div class="space-y-3">
                    <div class="flex justify-between items-center">
                        <div>
                            <h4>Who can follow me ?</h4>
                            <div> </div>
                        </div>
                        <div class="switches-list -mt-8 is-large">
                            <div class="switch-container">
                                <label class="switch"><input type="checkbox"><span class="switch-button"></span></label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="flex justify-between items-center">
                        <div>
                            <h4>Show my activities ?</h4>
                            <div> </div>
                        </div>
                        <div class="switches-list -mt-8 is-large">
                            <div class="switch-container">
                                <label class="switch"><input type="checkbox" checked><span class="switch-button"></span></label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="flex justify-between items-center">
                        <div>
                            <h4>Search engines?</h4>
                            <div> </div>
                        </div>
                        <div class="switches-list -mt-8 is-large">
                            <div class="switch-container">
                                <label class="switch"><input type="checkbox"><span class="switch-button"></span></label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="flex justify-between items-center">
                        <div>
                            <h4>Allow Commenting?</h4>
                            <div> </div>
                        </div>
                        <div class="switches-list -mt-8 is-large">
                            <div class="switch-container">
                                <label class="switch"><input type="checkbox"><span class="switch-button"></span></label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>{% endcomment %}
            <br>

        </div>

    </div>
            
{% comment %}         </div>
    </div>{% endcomment %}
    

 <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script> 
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>

</html>