{% extends "base.html" %}
{% load static %}


<head>
    <title>sign up</title>
    
</head>
<main style="background-color: transparent; !important">
    {% block content %}
    <style>
        body {
            background-color: transparent !important;
        }
        main {
            background-color: transparent !important;
        }
    </style>
    <div class="video-background">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="{% static 'video/video1.mp4' %}" type="video/mp4">
        </video>
    </div>

        <!-- Content-->

        <div>
            <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
                <h1 class="lg:text-3xl text-xl font-semibold mb-6 text-white"> Sign Up </h1>
                <!--<p class="mb-2 text-black text-lg"> Register to manage your account </p>-->
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %} 
                    <style>
                        input[name="password1"]::placeholder,
                        input[name="password2"]::placeholder,
                        input[name="email"]::placeholder {
                            color: black;
                        }
                    </style>
                    <input type="email" name="email" placeholder="Email" class="bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important; color: black;">
                    <input type="text" name="username" placeholder="Username" class="bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important; color: black;">
                    <input type="password" name="password1" placeholder="Password" class="bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important; color: black;">
                    <input type="password" name="password2" placeholder="Confirm Password" class="bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important; color: black;">

                    <button type="submit" class="bg-gradient-to-br from-yellow-900 py-3 rounded-md text-white text-xl to-red-400 w-full" style="border: 3px solid yellow;"><b>Register</b></button>
                    <div class="text-center mt-5 space-x-2">
                        <p class="text-base text-white text-2xl"><b>Do you have an account      ?     </b><a href="login"><b>LOGIN</b></a></p>
                    </div> 
                </form>
            </div>
        </div>
{% endblock content %}
</main>      
