{% extends "base.html" %}
{% load static %}
{% load split_on_slash %}
{% block title %}
Edit Publication
{% endblock title %}
<main>
    {% block content %}
    <div class="container">
        <div class="row justify-content-center">
            {% if messages %}
                    <div class="d-flex justify-content-around">
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
            {% endif %}
            <div class="col-md-6">
                <h2 class="text-center">Update Publication</h2>
                <form method="post" class="mt-4" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field not in exclude_fields %}
                            {% if field.name == 'title' %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {{ field }}
                            </div>
                            {% elif field.name == 'year_of_stay' %}
                                <div class="mb-3">
                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    <select name="{{ field.name }}" class="form-control">
                                        {% for year in years %}
                                            <option value="{{ year }}" {% if field.value == year %}selected{% endif %}>{{ year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% elif field.name == 'season_of_stay' %}
                                <div class="mb-3">
                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    <select name="{{ field.name }}" class="form-control">
                                        {% for season in seasons %}
                                            <option value="{{ season }}" {% if field.value == season %}selected{% endif %}>{{ season }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% elif field.name == 'country_code_of_stay' %}
                                <div class="mb-3">
                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    {% load countries %}
                                    {% get_countries as countries %}
                                    <select name="country_code_of_stay" class="form-control">
                                        {% for country in countries %}
                                            <option value="{{ country.code }}">{{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% elif field.name == 'voice_story' and form.instance.content_type == 'voice' %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {% if field.value %}
                                    <audio controls class="embed-responsive-item">
                                        <source src="{{ field.value.url }}">
                                    </audio>
                                {% endif %}
                                {{ field }}
                            </div>
                            {% elif field.name == 'text_story' and form.instance.content_type == 'text' %}
                                <div class="mb-3">
                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% endif %}
                            {% if field.name == 'picture' %}
                                <div class="mb-3">
                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    {% if field.value %}
                                        <img loading="lazy" src="{{ field.value.url }}" alt="Current image" >
                                    {% endif %}
                                    {{ field }}
                                </div>
                            {% endif %}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
</main>