body {
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
    background-color: #f8f9fa !important;
    font-family: Arial, sans-serif !important;
}

.container {
    flex-grow: 1 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100% !important;
}

.form-container {
    background-color: #ffffff !important;
    padding: 20px !important;
    border-radius: 8px !important;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1) !important;
    width: 300px !important;
}

.form-container button {
    background-color: #007bff !important;
    color: #ffffff !important;
    border: none !important;
    padding: 10px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 10px 2px !important;
    cursor: pointer !important;
    border-radius: 4px !important;
}

footer {
    margin-top: 24% !important;
    margin-bottom: 0px !important;
    /* Your other footer styles */
}